<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="mr5"><i class="fa fa-heart" style="color: #5BC0DE"></i></span> Hackathon Starter CN
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">首页</a></li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">介绍<b class="caret"></b></a>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li><a href="/introduction">介绍</a></li>
            <li class="divider"></li>
            <li><a href="/scaffold">脚手架</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/email">邮件 API</a></li>
          </ul>
          <li><a href="/about">关于</a></li>
        </li>
      </ul>
      {% if user %}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.profile.name %} {{ user.profile.name }} {% else %} {{ user.email }} {% endif %}<b class="caret"></b></a>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li><a href="/account">我的账户</a></li>
            <li class="divider"></li>
            <li><a href="/logout">登出</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right ml5 mr5">
        <a href="/login" class="btn btn-primary navbar-btn btn-sm mr5"><span class="fa fa-sign-in mr5"></span>登录</a>
        <a href="/signup" class="btn btn-primary navbar-btn btn-sm"><span class="fa fa-user-plus mr5"></span>注册</a>
      </ul>
      {% endif %}
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
