<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="margin-left: 20px; margin-right: 30px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
            <a class="navbar-brand" href="/">
                <span style="margin-right: 6px"><i class="fa fa-heart" aria-hidden="true"></i></span> Hackathon Starter CN
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li {% if title == 'index' %} class="active" {% endif %}><a href="/">首页</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">API<b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href="/api/mailchimp">MailChimp</a></li>
                        <li><a href="/api/mailgun">Mailgun</a></li>
                        <li><a href="/api/postmark">Postmark</a></li>
                        <li><a href="/api/sendgrid">SendGrid</a></li>
                        <li class="divider"></li>
                        <li><a href="/api/example">API Example</a></li>
                    </ul>
                </li>
                <li {% if title == 'about' %} class="active" {% endif %}><a href="/about">About</a></li>
            </ul>

            {% if user %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.profile.name || user.email }}<b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href="/account">My Account</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <button class="btn btn-primary navbar-btn btn-sm" type="button" id="loginBtn"><span style="margin-right: 6px" class="fa fa-sign-in"></span>登录</button>
                <button class="btn btn-primary navbar-btn btn-sm" type="button" id="signupBtn"><span style="margin-right: 6px" class="fa fa-user-plus"></span>注册</button>
            </ul>
            {% endif %}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

{% if !user %}
    {% block js %}
    <script>
        document.getElementById('loginBtn').onclick = function() {
            window.location.href = window.location.origin + '/login';
        };
        document.getElementById('signupBtn').onclick = function() {
            window.location.href = window.location.origin + '/signup';
        };
    </script>
    {% endblock %}
{% endif %}
