{% extends 'layout.html' %}

{% block title %}
    关于
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}

    <div class="container">
        {% include "partials/flash.html" %}
    </div>

    <div style="margin-bottom: 60px">
        <div class="container jumbotron" style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 0px;">
            <h1>Hackathon Starter CN</h1>
            <p class="lead">开始新项目的模板，包含基本的用户模块以及 API。</p>
            <p><a class="btn btn-lg btn-success" href="/" role="button">开始使用</a></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                  <h3>用户 API</h3>
                  <p>Node.js、Express、MongoDB 等一堆东西做的用户模块</p>
                  <p><a class="btn btn-primary" href="/about" role="button">介绍 »</a></p>
               </div>
                <div class="col-lg-4">
                  <h3>集成第三方登录</h3>
                  <p>微信、微博、豆瓣</p>
                  <p><a class="btn btn-primary" href="/api/example" role="button">API 示例 »</a></p>
               </div>
                <div class="col-lg-4">
                  <h3>集成其他登录</h3>
                  <p>Passport 验证中间件，易于集成其他第三方帐号登录</p>
                  <p><a class="btn btn-primary" href="http://passportjs.org" role="button">集成其他登录 »</a></p>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
