{% extends 'layout.html' %}

{% block title %}
    首页
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}

    <div class="container">
        {% include "partials/flash.html" %}
    </div>

    <div style="margin-bottom: 60px">
        <div class="container jumbotron mbn pbn ptn">
            <h1>Hackathon Starter CN</h1>
            <p class="lead">开始新项目的模板，包含基本的用户模块以及 API、第三方邮件服务。</p>
            <p><a class="btn btn-lg btn-success" href="/" role="button">开始使用</a></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <h3>用户模块、API</h3>
                  <p>Node.js、Express、MongoDB 等一堆东西做的用户模块</p>
                  <p><a class="btn btn-primary" href="/about" role="button">介绍 »</a></p>
               </div>
                <div class="col-md-6">
                  <h3>集成第三方邮件服务</h3>
                  <p>MailChimp, Mailgun, Postmark, SendGrid</p>
                  <p><a class="btn btn-primary" href="/api/example" role="button">API Example »</a></p>
               </div>

            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
