{% extends 'layout.html' %}

{% block title %}
  Hackathon Starter CN
{% endblock %}

{% block content %}
  {% include "partials/navbar.html" %}

  <div class="container mt10">
      {% include "partials/flash.html" %}
  </div>

  <div class="container" style="margin-bottom: 100px">
    <div class="jumbotron pt20 pl20 pr20 pb20 mb20">
      <h1>Hackathon Starter CN</h1>
      <p class="lead">开始新项目的模板，包含基本的用户模块以及邮件服务，提供 API。</p>
      <p><a class="btn btn-lg btn-primary" href="/introduction" role="button"><span class="fa fa-sign-in mr5"></span>介绍 »</a></p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>用户模块脚手架</h3>
        <p>Node.js、Express、MongoDB 做的用户模块，新项目脚手架</p>
        <p><a class="btn btn-default" href="/scaffold" role="button"><span class="fa fa-sign-in mr5"></span>脚手架 »</a></p>
      </div>
      <div class="col-md-4">
        <h3>API</h3>
        <p>全部功能提供 API</p>
        <p><a class="btn btn-default" href="/api" role="button"><span class="fa fa-file-text-o mr5"></span>API 示例 »</a></p>
      </div>
      <div class="col-md-4">
        <h3>集成第三方邮件服务</h3>
        <p>自建邮件发送服务和 Postmark, SendGrid 第三方邮件发送服务</p>
        <p><a class="btn btn-default" href="/postmark" role="button"><span class="fa fa-envelope-o mr5"></span>邮箱 API 示例 »</a></p>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
