{% extends '../layout.html' %}

{% block title %}
  找回密码
{% endblock %}

{% block content %}

  {% include "../partials/navbar.html" %}

  <div class="container mt10">
    {% include "../partials/flash.html" %}
  </div>

  <div class="container pt40" style="margin-bottom: 100px">
    <form class="form-signin" class="single-form" action="/forgotpassword" method="POST" >
      <input type="hidden" name="_csrf" value=_csrf />
      <h4 class="form-signin-heading">请输入登录邮箱</h4>
      <label for="inputEmail" class="sr-only">注册邮箱</label>
      <input type="email" id="email" name="email" placeholder="注册邮箱(必填)" required="true" autofocus="true" class="form-control" />
      <button type="submit" class="btn btn-lg btn-primary btn-block mt20"><span class="fa fa-envelope-o mr10"></span>找回密码</button>
    </form>
  </div>

  {% include "../partials/footer.html" %}

{% endblock %}
