{% extends '../layout.html' %}

{% block title %}
  账户
{% endblock %}

{% block content %}

  {% include "../partials/navbar.html" %}

  <div class="container mt10">
    {% include "../partials/flash.html" %}
  </div>

  <div class="container" style="margin-bottom: 120px">
    <div class="page-header">
      <h4>个人信息</h4>
    </div>
    <form action="/account/profile" method="POST" class="form-horizontal">
      <input type="hidden" name="_csrf" value=_csrf/>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">邮箱</label>
        <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">姓名</label>
        <div class="col-sm-7">
            <input type="text" name="name" id="name" class="form-control" value="{{ user.profile.name }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="bio" class="col-sm-3 control-label">简介</label>
        <div class="col-sm-7">
            <input type="text" name="bio" id="bio" class="form-control" value="{{ user.profile.bio }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="col-sm-3 control-label">URL</label>
        <div class="col-sm-7">
            <input type="text" name="url" id="url" class="form-control" value="{{ user.profile.url }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-sm-3 control-label">地址</label>
        <div class="col-sm-7">
            <input type="text" name="location" id="location" class="form-control" value="{{ user.profile.location }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="gravatar" class="col-sm-3 control-label">头像</label>
        <div class="col-sm-4"><img src="{{ user.profile.avatar || user.gravatar(user.email.toString()) }}"," width="100" height="100" class="profile" /></div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="btn btn btn-primary"><i class="fa fa-pencil"></i>&nbsp
            更新
          </button>
        </div>
      </div>
    </form>
      <div class="page-header mt30 pbn">
          <h4>更改密码</h4>
      </div>
      <form action="/account/password" method="POST" class="form-horizontal">
          <input type="hidden" name="_csrf" value=_csrf/>
          <div class="form-group">
            <label for="old-password" class="col-sm-3 control-label">旧密码</label>
            <div class="col-sm-7">
                <input type="password" name="old-password" id="old-password" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">新密码</label>
            <div class="col-sm-7">
                <input type="password" name="password" id="password" class="form-control" placeholder="八位字符以上" />
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">确认新密码</label>
            <div class="col-sm-7">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="八位字符以上" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i>&nbsp
                更新密码
              </button>
            </div>
          </div>
      </form>
      <div class="page-header mt30 pbn">
        <h4>删除账户</h4>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <p class="col-sm-offset-3 col-sm-8">删除账户操作不可逆。</p>
          <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-danger" id="delete-account-btn"><i class="fa fa-trash"></i>&nbsp
              删除账户
            </button>
          </div>
        </div>
        <form id="delete-account-form" action="/account/delete" method="POST">
          <input type="hidden" name="_csrf" value=_csrf />
        </form>
      </div>
      <div class="page-header mt30 pbn">
        <h4>已连接帐号</h4>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <input type="hidden" name="_csrf" value=_csrf />
          <div class="col-sm-offset-3 col-sm-4">
            {% if user.github %}
              <a href="/account/unlink/github" class="btn btn-default" id="link-github"><i class="fa fa-github mr10"></i>断开 GitHub 链接</a>
            {% else %}
              <a href="/auth/github" class="btn btn-default" id="link-github"><i class="fa fa-github mr10"></i>连接 GitHub</a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>

  {% include "../partials/footer.html" %}

  <script>
    $('#delete-account-btn').on('click', function() {
      notie.confirm('确认删除帐号', '确认', '取消', function() {
        $('#delete-account-form').submit()
      })
    })
  </script>

{% endblock %}
