{% extends '../layout.html' %}

{% block title %}
  找回密码
{% endblock %}

{% block content %}

  {% include "../partials/navbar.html" %}

  <div class="container mt10">
    {% include "../partials/flash.html" %}
  </div>

  <div class="container pt40" style="margin-bottom: 100px">
    <form class="form-signin" class="single-form" action="/forgotpassword" method="POST" >
      <input type="hidden" name="_csrf" value=_csrf />
      <h4 class="form-signin-heading">请输入新密码</h4>
      <label for="inputPassword" class="sr-only">新密码(必填)</label>
      <input type="password" id="inputPassword" name="password" placeholder="八位字符以上" required="true" style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: -2px; margin-bottom: 0px" class="form-control" />
      <label for="inputconfirmPassword" class="sr-only">确认新密码(必填)</label>
      <input type="password" id="inputconfirmPassword" name="confirmPassword" placeholder="八位字符以上" required="true" style="border-top-right-radius: 0px; border-top-left-radius: 0px; margin-top: -2px" class="form-control" />
      <button type="submit" class="btn btn-lg btn-primary btn-block mt20"><span class="fa fa-envelope-o mr10"></span>找回密码</button>
    </form>
  </div>

  {% include "../partials/footer.html" %}

{% endblock %}
